.a-propos {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 

  .banner {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .collapse {
    margin: 40px 0px;

    .collapse-title {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

// Media query pour les appareils mobiles
 @media (max-width: 380px) { 
  .a-propos {

    .collapse {
      margin: 0px 0px;
      .collapse-title {
        padding-top: 2px;
        padding-bottom: 2px;
      }
    }
  }
}