.rating {
    display: flex;
    gap: 10px; 

    .star {
        width: 32px; 
        height: 32px; 
    }
}

// Media query pour les appareils mobiles
@media (max-width: 380px) { 
    .rating {
        gap: 7px; 
        .star {
            width: 18px; 
            height: 18px; 
        }
    }
}